html {
    font-family: "Source Sans 3", Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(0, 30, 0);
    color: #ffffff;
}

main {
    overflow-y: auto;
    margin-left: 400px;
    padding-right: 10px;
    padding-left: 10px;
}

h1 {
    font-family: 'Source Code Pro', 'Source Sans Pro', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    background-color: #000000;
    border-color: #000000;
    border-width: 0.3em;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    margin-block-start: auto;
    margin-block-end: auto;
}

h2 {
    font-weight: 700;
    background-color: #000000;
    border-color: #000000;
    border-width: 0.3em;
    border-radius: 10px;
    padding: 5px 5px 5px 10px;
    margin-block-start: auto;
    margin-block-end: auto;
}

h3 {
    padding: 0px 5px 0px calc(5px + 10px)
}

h4 {
    padding: 0px 5px 0px calc(5px + 10px)
}

p {
    font-weight: 100;
    padding: 0px 5px 0px calc(5px + 10px)
}

h2 a {
    text-decoration: none;
}

a:active {
    color: rgb(0, 230, 0);
    text-decoration: underline;
}

a {
    text-decoration-style: dashed;
    color: rgb(0, 200, 0);
    text-decoration: dotted;
}

.sidebar {
    height: 100%;
    width: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(30, 30, 30);
}

@media screen and (max-width: 700px) {
    .sidebar {
        height: auto;
        width: 100%;
        position: sticky;
    }

    main {
        margin-left: 0px;
    }
}

.logo img {
    display: block;
    margin: auto;
    justify-content: center;
}

.social img {
    width: 24px;
    height: 24px;
    object-fit: scale-down;
    padding: 0em 0.3em 0em 0.3em;
}

.social {
    padding-left: 0px;
}

.social ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
}