@import "style.css";

.logo img {
    display: block;
    margin: auto;
    justify-content: center;
}

.social img {
    width: 24px;
    height: 24px;
    object-fit: scale-down;
    padding: 0em 0.3em 0em 0.3em;
}

.social {
    padding-left: 0px;
}

.social ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
}